# BEGIN FlexCore
<IfModule mod_rewrite.c>

	# Engine and Base:
	RewriteEngine on
	RewriteBase /
	Options -Indexes

	# Directory Rules:
	RewriteRule ^index\.php$ - [L]
	# RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php [NC,L,QSA]

	# Custom Error Documents:
	ErrorDocument 404 /Views/errors/404.php
	ErrorDocument 500 /Views/errors/500.php

</IfModule>
# END FlexCore
