* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

*:hover {
  text-decoration: none !important;
}

html,
body {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-color: #eee !important;
}

a {
  color: #fff;
}

a:hover {
  color: #1e90ff;
}

nav {
  background-color: #212121 !important;
}
